@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200;300&family=Epilogue:wght@200;300&family=Hahmlet:wght@200;300&family=Lato:wght@300&family=Montserrat:wght@300&family=Roboto:wght@300&family=Sora:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
div {
  font-family: "Poppins", sans-serif;
}
.home_page {
  background-image: url(public/homepic.png);
  background-repeat: none;
  background-size: cover;
  height: 120vh;
  width: 100%;
}

nav .navbar {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-evenly;
  color: white;
  cursor: pointer;
  transition: all 0.8s ease;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 450px;
  height: 100%;
  align-items: center;
  font-size: 16px;
}
nav .header {
  background-image: url(public/logo3.png);
  width: 280px;
  height: 280px;
  background-size: cover;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}
nav ul li:hover {
  color: #c8ccc9;
  transition: all 0.5s ease;
  transform: scale(1.1);
}
nav .header,
.donate {
  display: flex;
  height: 100%;
  align-items: center;
}
nav .donate_btn {
  width: 90px;
  height: 35px;
  color: black;
  background-color: #f7c311;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
nav .donate_btn .fas {
  margin-right: 3px;
}
nav .donate_btn:hover {
  transition: all 0.5s ease;
  background-color: #ffcd38;

  transform: scale(1.1);
}
.navbar.sticky {
  position: fixed;
  background-color: white;
  box-shadow: 2px 2px 20px 2px grey;
  z-index: 999;
}
.navbar.sticky .header {
  background-image: url(public/logo4.png);
}
.navbar.sticky li {
  color: black;
}
.title {
  font-size: 40px;
  font-weight: 600;
  text-align: start;
  width: 500px;
}
.title p,.text p{
  color: white;
}
.title .prefix {
  font-size: 13px;
  font-weight: 400;
}
.title .dash {
  margin-right: 3px;
}

.text p{
  margin-top: 40px;
  font-size: 15px;
  width: 500px;
  padding-bottom: 50px;
  line-height: 25px;
 
}
.play_btn button,
.episodes .box button {
  background: none;
  border: none;
}
.play_btn .fas,
.episodes .box button .fas {
  color: black;
  background-color: #f7c311;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}
.play_btn .fas:hover,
.episodes .box button .fas:hover {
  background-color: #f7c311;
  transition: all 0.35s ease;
  transform: scale(1.1);
}
.play_btn .play_text {
  margin-left: 15px;
  font-size: 18px;
  font-weight: 500;
}
.home {
  display: flex;
}
.box {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 90vh;
}
.content {
  margin-top: 10px;
  margin-left: 170px;
}
/* Episodes section */

.episodes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 75vh;
  width: 100%;
  background-color: white;
}
.episode_section h3 {
  color: black;
  margin-top: 50px;
  margin-left: 150px;
  font-size: 23px;
}
.episodes .episode-text{
  width: 600px;
  text-align: right;
  color: black;
  line-height: 30px;
}
.episodes .box {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 2px 2px 7px 7px gray;
  
}
.episodes .box img {
  height: 100%;
  transition: all 0.3s;
  width: 100%;
  border-radius: 10px;
  
}
.episodes .box img:hover  {
  transform: scale(1.05);
  box-shadow: 2px 2px 7px 7px gray;
}


.episodes .box button .fas {
  width: 40px;
  height: 40px;
  font-size: 16px;
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.episodes .name{
  color: black;
  text-align: center;
  margin-top: 10px;
}

/* About us */

/* Social Links */

.socials_section {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url(public/body5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.socials_section h3 {
  text-align: center;
  color: #f7c311;
  margin-top: 50px;
  font-size: 23px;
}

.socials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
  width: 750px;
}

.socials a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 30px;
  cursor: pointer;
  background-color: #f7c311 ;
  transition: all 0.3s ease;
}

.socials .socials_btn .fab {
  font-size: 60px;
  color: black;
}
.socials .socials_btn .fa-youtube:hover{
  color: #ff0000;

}
.socials .socials_btn .fa-spotify:hover{
 color:  #1db954;
}
.socials .socials_btn .fa-instagram:hover{
  color:  #cd486b;

}
.socials .socials_btn .fa-twitter:hover{
  color: #00aecc;

}
.socials .socials_btn:hover .fab {
  transform: scale(1.2);
  
}

/* About Us */
.about{
  height: 120vh; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.about .about-title{
  width: 70%;
  margin-bottom: 30px;
  
  
}
.about-title h2,p{
  color: black;
  line-height: 25px;
}
.about .about-box{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.about .floating{
  background-color: #f7c311;
  width: 30%;
  height: 300px;
  position: relative;
  bottom:50px;
  left: 70px;
  box-shadow: 0px 2px 10px 2px gray;
  border-radius: 20px;
}
.about .floating img{
 height: 100%;
 width: 100%;
 border-radius: 20px;

}
.about .about-box1{
  height: 300px;
  width: 40%;
}
.about .about-box2{
  margin-top: 20px;
  width: 1070px;
}

/* Contact Us */
.contact {
  width: 100%;
  height: 100vh;
  display: flex;
}
.contact .contact_box {
  width: 50%;
  height: 100vh;
}

.contact .input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact .input h2 {
  color: black;
  text-align: start;
  margin-bottom: 30px;
}
.contact .input textarea,
.subject_text {
  width: 510px;
  border-radius: 5px;
  color: black;
  font-size: 21px;
  padding: 20px;
}
.contact .input input {
  margin-bottom: 20px;
  
  height: 35px;
}
.contact .input .box1 {
  display: flex;
  width: 510px;
  justify-content: space-between;
}
.contact .input .box1 input {
  width: 240px;
  font-size: 21px;
  padding: 20px;
  border-radius: 5px;
  color: black;
}
.contact .contact-btn{
  color: black;
  height: 30px;
  width: 60px;
  font-size: 18px;
  
  
}
/* FOOTER */
footer {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 70%;
  margin: auto;
}
.row {
  display: flex;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b; /* 24262b */
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 25px;
  font-weight: 500;
}
.footer-col ul li a {
  margin-bottom: 10px;
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none; /* remove uderline */
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.2s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  font-size: 17px;
}

.footer-col .social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 30px;
}

.footer-col .social-links a {
  display: inline-block;
  /* background-color: green; */
  text-align: center;
  color: #ffffff;
}

.footer-col .fab {
  font-size: 26px;
  transition: all 0.35s ease;
}

.footer-col .fab:hover {
  font-size: 35px;
}

.footer-col .fa-youtube {
  color: #ff0000;
}
.fa-instagram {
  color: #cd486b;
}
.footer-col .fa-spotify {
  color: #1db954;
}
.footer-col .fa-twitter {
  color: #00aecc;
}
